.InputSection__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.InputSection__container > input, textarea {
    min-width: 400px;
    border-radius: 0.3em;
    border: 1px solid gray;
    padding: 0.5em;    
    margin: 0.5em;
    font-size: 10pt;
    background-color: rgb(230, 228, 228);
    outline: none;
  }  

  .InputSection__container__btnWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .InputSection__container__btnWrapper > button {
      background-color: black;
      border: none;
      color: white;
      font-size: 10pt;
      border-radius: 0.3em;
      padding: 0.5em;
}

.color-btn{
  margin-left: 10px;
}